.bg-basic {
    background: #8681b7;
}
.taskBtn {
    color: #8681b7;
    background-color: #8681b7;
    border-radius: 10px;
    padding: 7px;
    border-width: 0px;
}
/* <!==============navbar style =============================!> */
.navbar {
    background: #8c7ef6;
}
.nav-item {
    transition-delay: 0.1s;
}
.nav-item a {
    font-weight: bold;
    transition-delay: 0.1s;
}
.nav-item:hover {
    background: #000;

    border-radius: 10px;
}
.nav-item:hover a {
    color: #fff;
}
.logo {
    width: 40px;
    height: 40px;
}
/* <!==============modal style =============================!> */
